@use '../../../styles/variables.scss' as variables;
@use '../../../styles/mixins.scss' as mixins;



.containerOurProjects {
    display: flex;
    padding: 30px 80px;
    flex-direction: column;
    overflow: hidden;
    max-width: 1520px;

}

.containerOurProjects h3 {
    @include mixins.textLinear;
    font-weight: 700;
    text-align: center;
    font-size: variables.$header-font;
    margin: 30px 0;

    span {
        color: variables.$third-color;
    }
}

// Left parent container (flipping in X-axis)
.containerTabs {
    display: flex;
    gap: 50px;
    margin-top: 40px;
}

// Left child component (flipping in X-axis)
.containerTabsName {
    width: 280px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 0 0 0 10px;
}

// Right parent container (flipping in Y-axis)
.componentContainer {
    width: -webkit-fill-available;
    background-color: rgba(243, 244, 255, 0.5);
    // height: 600px;
    // max-height: 650px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 20px;
}

// Right child component (flipping in Y-axis)
.productItem {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
}

.productItem img {
    width: fit-content;
    // width: calc(100vw - 770px);
}

.productItem p {
    margin: 0;
    font-size: variables.$body_font;
    line-height: 26px;
}

.productItem h5 {
    font-weight: 700;
}

.label {
    font-weight: 400;
    cursor: pointer;
    padding: 10px 12px;
    font-size: variables.$body_font;
    box-shadow: -1px 5px 20px 4px rgba(0, 0, 0, 0.05);
    border-radius: 7px;
    letter-spacing: 1px;
    border: 2px solid transparent;
    font-weight: 500;
    width: 300px;

    &:hover {
        border: 2px solid;
        border-image: linear-gradient(90deg, rgba(28, 152, 203, 0.81) 0%, #1B1464 100%);
        border-image-slice: 1;
        color: variables.$common-color;
        font-size: variables.$body_font;
        @include mixins.textLinear;
        font-weight: 500;
        letter-spacing: 1px;
        width: 300px;
    }
}

.activeLabel {
    padding: 10px 12px;
    box-shadow: -1px 5px 20px 4px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    border: 2px solid;
    border-image: linear-gradient(90deg, rgba(28, 152, 203, 0.81) 0%, #1B1464 100%);
    border-image-slice: 1;
    color: variables.$common-color;
    font-size: variables.$body_font;
    @include mixins.textLinear;
    font-weight: 500;
    letter-spacing: 1px;
    width: 300px;
}
.containerMobileTabs{
    display: none;
}
@media (max-width: 1400px) {
    .productItem img {
        width: calc(100vw - 600px);
    }
}

@media (max-width: 1200px) {

    .containerOurProjects {
        padding: 30px 20px;
    }

    .productItem img {
        width: calc(100vw - 400px);
    }
}

@media (max-width: 950px) {
    .activeLabel {
        width: 200px;
    }

    .label {
        width: 200px;

        &:hover {
            width: 200px;
        }
    }
}
@media (max-width: 800px) {
    .containerTabs{
        display: none;
    }
    .containerMobileTabs{
        display: block;
    }
    .containerOurProjects {
        width: -webkit-fill-available;
    }
}

@media (max-width: 450px) {

    .containerOurProjects h3 {
        font-size: 28px;
    }

}