@use '../../styles/variables' as variables;
@use '../../styles/mixins' as mixins;

.mainContainerHeader {
    // width: 100%;
    padding-right: calc(var(--bs-gutter-x)* .5);
    padding-left: calc(var(--bs-gutter-x)* .5);
    width: -webkit-fill-available;
    display: flex;
    align-items: center;
    justify-content: center;
    // box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.containerHeader {
    padding: 10px 80px;
    @include mixins.flex;
    justify-content: space-between;
    background-color: variables.$common-color;
    position: fixed;
    width: 100%;
    z-index: 99;
    top: 0;
    max-width: 1530px;
    /* X-offset | Y-offset | Blur-radius | Shadow-color */

}
.shadow {
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.imgLogo {
    width: 250px; // Default for large screens
    cursor: pointer;
}

.threeLines {
    font-size: 40px; // Default for large screens
    display: none;
    cursor: pointer;
}

.link {
    text-decoration: none;
    color: variables.$third-color;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    transition: color 0.3s ease, border-bottom 0.3s ease;
}

.link:hover {
    @include mixins.textLinear;
    cursor: pointer;

}

.active {
    @include mixins.textLinear;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;

}

.headerRight {
    @include mixins.flex;
    gap: 40px;
    // margin-left: 20px;
}

.btnContactUs {
    @include mixins.btn;
    padding: 10px 20px;
}


@media (max-width: 1200px) {
    .containerHeader {
        padding: 10px 30px;
    }
}

// @media (max-width: 1070px) {

// }

@media (max-width: 1000px) {
    .containerHeader {
        padding: 10px 20px;
    }

    .headerRight {
        display: none;
    }

    .btnContactUs {
        display: none;
    }

    .threeLines {
        display: block;
        margin: -5px 0 0 0;

    }
}


@media (max-width: 768px) {
    .imgLogo {
        width: 180px;
    }

    .threeLines {
        font-size: 35px;
    }
}

@media (max-width: 480px) {
    // .imgLogo {
    //     width: 1px;
    // }

    .threeLines {
        font-size: 35px;
        margin: -5px 0 0 0;
    }
}

@media (max-width: 400px) {
    .containerHeader {
        padding: 10px;

    }
    }