@use '../../../styles/variables.scss' as variables;
@use '../../../styles/mixins.scss' as mixins;

.containerBusiness {
    @include mixins.flex;
    justify-content: space-between;
    gap: 100px;
    // flex-wrap: wrap;
    padding: 70px ;
    width: 1500px;
    position: relative;
    margin: 15px 0 0 0;

}

.btnAppointment {
    @include mixins.btn;
    padding: 10px 20px;
}
.btnAppointmentMobile {
    @include mixins.btn;
    padding: 10px 20px;
    display: none;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 50px;
    justify-content: space-between;
    margin: -50px 0 0 0;
    // margin: 0px 0 0 0;
}

.content h3 {
    @include mixins.textLinear;
    width: 660px;
    font-weight: 700;
    letter-spacing: 0.05em;
    text-align: left;
    font-size: variables.$display_font;
    line-height: 60px;


}

.content p {
    color: variables.$third-color;
    width: 620px;
    font-weight: 500;
    letter-spacing: 1px;
    line-height: 40px;
    text-align: justify;
    margin: 30px 0 40px 0;
    font-size: variables.$body_large_font;

}

// .dotComp1 {
//     position: absolute;
//     top: 170px;
//     left: 52%;
// }

.dotComp2 {
    position: absolute;
    top: 35px;
    left: 340px;
    z-index: -1;
}

.cursor {
    font-size: 14px;
}

// .dotComp3 {
//     position: absolute;
//     top: 50px;
//     right: 100px;
//     z-index: -1;
// }

// .dotComp4 {
//     position: absolute;
//     top: 130px;
//     right: 120px;
//     z-index: -1;
// }

// .dotComp5 {
//     position: absolute;
//     top: 530px;
//     right: 240px;
//     z-index: -1;
// }


.dotImg1 {
    width: 55px;
}


.statementText {
    @include mixins.textLinear;
    font-weight: 600;
    font-size: 20px;
    // line-height: 30px;
    background: linear-gradient(90.56deg, #1C98CB 0.48%, #1B1464 99.57%);
    -webkit-background-clip: text;
    color: transparent;
    // font-family: "Special Elite", serif;
    letter-spacing: 1px;
    word-spacing: 5px;
    height: 60px;
    // display: flex;

    display: inline-block;
    width: 100%; // Takes full width of the container
    word-wrap: break-word; // Break long words if needed
    white-space: normal; // Allows text to wrap to the next line
}

.animatedCube {
    position: absolute;
    top: 76%;
    left: 45%;

}

@media (max-width: 1500px) {
    .containerBusiness {
        gap: 20px;
    }
}

@media (max-width: 1430px) {
    .dotComp2 {
        display: none;
    }

    .content h3 {
        width: 530px;
        font-size: 40px;

    }

    .content p {
        width: 530px;
        // font-size: 20px;
    }

    .statementText {
        width: 530px;
        height: 60px;
    }

    .animatedCube {
        top: 80%;
        left: 35%;

    }


}

@media (max-width: 1200px) {
    .containerBusiness {
        padding: 70px 50px;
    }
}


@media (max-width: 1100px) {
    .containerBusiness {
        flex-direction: column;
        gap: 100px;
        padding:20px  30px;

    }

    .content {
        margin: 0px 0 0 0;
    }

    .content h3 {
        width: auto;
        font-size: 36px;
        margin: 0;
        line-height: 50px;

    }

    .content p {
        width: auto;
        // font-size: 20px;
    }

    .statementText {
        width: auto;
        height: 60px;
    }

    .animatedCube {
        top: 40%;
        left: 55%;

    }
    .btnAppointment {
        @include mixins.btn;
        padding: 10px 20px;
        display: none
    }
    .btnAppointmentMobile {
        @include mixins.btn;
        padding: 10px 20px;
        display: block;
    }
}
@media (max-width: 550px) {
    .content h3 {
        width: auto;
        font-size: 28px;
        margin: 0;
        line-height: 40px;

    }
    .animatedCube {
        top: 45%;
        left: 60%;

    }
    .containerBusiness {
        padding:0px 20px;

    }
    .content p {
        // width: auto;
        font-size: 17px;
        margin: 25px 0;
        line-height: 32px;
        text-align: left;
    }
    .statementText {
        font-size: 18px;
    }
}

@media (max-width: 400px) {
    .content h3 {
        width: auto;
        font-size: 24px;
        margin: 0;
        line-height: 40px;
    }
    .animatedCube {
        top: 45%;
        left: 70%;

    }
    .statementText {
        width: auto;
        height: 80px;
    }

}