// color Define 
$primary-color: #1b1464;
$secondry-color: #1c98cb;
$third-color: #14142b;
$common-color: #fff;
$dark-color: #000;
$light-gray: #C1C1C3;
$purple-color: #6941C6;
$darkBlue-color: #363F72;
$bahamaBlue-color: #026AA2;
$reddishBrown-color: #C4320A;
$vibrantGreen-color: #027A48;
$pink-color: #C11574;
$pinkishRed-color: #C01048;
$mediumDarkPurple-color: #6941C6;
$grayishBlue-color: #363F72;
$border-color: #fce0e0;
// $border-color: #F2F2F2;

// Sizes Define 




// #fce0e0



$display_font: 2.75em; // 44px - used......Largest font for main headers use 
$header-font: 2em; // 32px - used......  Primary headers use 
$slide_title: 1.625em; // 26px - Used Slide header
$title_font: 1.375em; // 22px -   used......  
$body_large_font: 1.1875em; // 19px -  used......
$subtitle_font: 1.25em; // 18px - used......  Subsection headers  use
$body_font: 0.9375em; // 15.5px - Default body text   use
// $medium_body_font: 0.9375em; // 15px - Default body text   use
$caption_font: 0.75em; // 12px - used...... Captions or metadata  


$subheader_font: 1.625em; // 26px - Sub headers  use
$body_small_font: 0.875em; // 14px - Small body text  
$label_font: 0.625em; // 10px - Labels or tiny text  
$tiny_font: 0.5625em; // 9px - Extra small text  
$micro_font: 0.5em; // 8px - Micro text  




// $xxxl-font: 2em; //32px
// $xxl-font: 1.75em; // 28px
// $xl-font: 1.375em;//22px
// $l-font: 1.25em; //20px
// $m-font: 1.125em; //18px
// $common-font: 1em; // 16px
// $s-font: 0.875em; //14px
// $xs-font: 0.75em; //12px
// $xxs-font: 0.6875em; //11px
// $xxxs-font: 0.625em; //10px
// $xxxxs-font: 0.5625em; //9px
// $last-font:0.5em;//8px