@use '../../../styles/variables.scss' as variables;
@use '../../../styles/mixins.scss' as mixins;

.containerOurMission {
    margin: 60px 0px;
    display: flex;
    overflow: hidden;
    position: relative;
    gap: 20px;

}

// Left block: Starts from bottom and moves up
.containerOurMissionLeft {
    flex-direction: column;
    @include mixins.flex;
    width: 75%;
    // margin: 0 0 0 -20px;
    opacity: 0;
    transform: translateY(100%);
    transition: all 1s ease-out;

    span:nth-child(odd) {
        width: 70px;
        height: 70px;
        background: linear-gradient(90deg, #1C98CB 0%, #1B1464 100%);
        border-radius: 50%;
        @include mixins.flex;
        justify-content: center;
        color: variables.$common-color;
        font-size: variables.$caption_font;
        letter-spacing: 1px;


    }

    span:nth-child(even) {
        width: 2px; // Set a narrow width to represent a line
        height: 180px; // Adjust height as needed for the line
        // margin: 0 auto; // Center the line horizontally
        border-left: 2px dashed variables.$light-gray; // Border to give the appearance of a line
    }
}

// Right block: Starts from top and moves down
.containerOurMissionRight {
    flex-direction: column;
    @include mixins.flex;
    justify-content: center;
    width: 45%;
    gap: 15px;
    opacity: 0;
    transform: translateY(-100%);
    transition: all 1s ease-out;
}

// Apply animation when visible
.slideUp {
    opacity: 1;
    transform: translateY(0);
}

.slideDown {
    opacity: 1;
    transform: translateY(0);
}

.ourMission {
    position: absolute;
    // top: 155px;
    margin: 10px 0 0 -450px;
    box-shadow: -1px 5px 20px 4px #0000001A;
    background-color: variables.$common-color;
    padding: 15px;
    max-width: 360px;
    border-radius: 5px;
    color: variables.$third-color;
    // font-size: variables.$body_font;
    font-size: 13.5px;

    letter-spacing: .5px;

}

.ourVision {
    // position: absolute;
    // // top: 405px;
    // margin: 260px 0 0 430px;
    // box-shadow: -1px 5px 20px 4px #0000001A;
    // padding: 15px;
    // max-width: 330px;
    // border-radius: 5px;
    // font-size: variables.$body_font;
    // letter-spacing: .5px;

    background-color: variables.$common-color;
    color: variables.$third-color;
    position: absolute;
    margin: 260px 0 0 450px;
    box-shadow: -1px 5px 20px 4px rgba(0, 0, 0, 0.1019607843);
    background-color: #fff;
    padding: 15px;
    max-width: 360px;
    border-radius: 5px;
    font-size: 13.5px;
    letter-spacing: 0.5px;
    // line-height: 25px;



}

.containerOurMissionRight div {
    color: variables.$third-color;
    font-size: variables.$body_font;
    letter-spacing: 0.5px;
    line-height: 28px;
}

.missionVision {
    display: none;
    // opacity: 0;

}

.missionVision h2 {
    text-align: start !important;
}

// .missionVision div {
//     margin-bottom: 20px;
// }

.ourMissionText h2 {
    color: variables.$third-color;
    font-weight: 600;
    font-size: 24px;

}

.ourMissionText span {
    color: variables.$third-color;
    letter-spacing: 0.5px;
    line-height: 25px;

}

@media (max-width: 1400px) {
    .containerOurMission {
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 30px;
    }

    .containerOurMissionRight {
        align-items: start;
        width: auto;
    }

    .containerOurMissionLeft {
        width: -webkit-fill-available;
        margin: 0;
    }


    .ourVision {
        max-width: 300px;
        margin: 260px 0 0 390px;
        text-align: center;
    }

    .ourMission {
        max-width: 300px;
        margin: 10px 0 0 -390px;
        text-align: center;
    }


}

@media (max-width: 730px) {
    .containerOurMissionLeft {
        display: none;
    }

    .missionVision {
        display: flex;
        flex-direction: column;
        gap: 30px;
        // transform: translateY(100%);
        transition: all 1s ease-out;
        // margin: -30px 0 0 0;
    }
    .containerOurMissionRight,
    .containerOurMissionLeft {
        transition: none;
        opacity: 1;
        
    }
    .containerOurMissionRight div {
        font-size: 16px;
        letter-spacing: 0.5px;
        line-height: 25px;

    }
    .containerOurMission {
        margin: 50px 0px;
    }
}

@media (max-width: 450px) {

    .containerOurMissionRight,
    .containerOurMissionLeft {
        transition: none;
        transform: translateY(0);
        opacity: 1;

    }

    .ourMissionText h2 {
        font-size: 22px;

    }

    .ourMissionText span {
        font-size: 15px;
    }
}